<%- include('../admin/partials/aheader.ejs') %>

  <div class="container-fluid mt-2 text-center">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-dark  border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">orders</h6>
          </div>
        </div>
        <div class="table-responsive p-2">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="table-setting">
            <thead>
              <tr>
                <th>order no:</th>
                <th>user address</th>
                <th>product Names</th>
                <th>Cost/payment</th>
                <th>Order/delivery Date</th>
  
                <th>status</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody>


              <% successOrders.forEach((data,index)=> { %>

                <tr>
                  <td class="text-bold">
                    <%= index+1 %>
                  </td>
                  <td>
                    <div class="widget-content p-0">
                      <div class="widget-content-wrapper">
                        <div class="widget-content-left mr-3">
                          <div class="widget-content-left">

                          </div>
                        </div>

                        <div class="widget-content-left flex2">
                          <div class="text-dark text-bold">
                            Id-<%=data._id%>
                          </div>
                          <div class="text-dark m-1 ">
                            name-<%=data.address_id.name%>
                          </div>
                          <div class="text-dark m-1">
                            E- <%=data.address_id.email %>
                          </div>
                          <div class="text-dark m-1">
                            PH- <%=data.address_id.phone %>
                          </div>
                          <div class="text-dark m-1">
                            <%=data.address_id.address %>
                          </div>
                          <div class="text-dark m-1">
                            <%=data.address_id.state %>
                          </div>
                          <div class="text-dark m-1">
                            <%=data.address_id.district %>
                          </div>
                          <div class="text-dark m-1">
                            <%=data.address_id.city %>
                          </div>
                          <div class="text-dark m-1">
                            <%=data.address_id.landMark %>
                          </div>
                          <div class="text-dark m-1">
                            <%=data.address_id.pincode %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>

                  <td class="text-center text-bold">
                    <% for (let i=0; i < data.products.length; i++) { %>
                      <%= data.products[i].product_id.productName %> x <%=data.products[i].quantity%><br>
                          <% } %>
                  </td>

                  
                  <td class="text-center text-bold">
                    
                    <%= data.totalPrice %><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                      <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                    </svg> <br> <br>

                    <button type="button" id="PopoverCustomT-1" class="btn btn-dark btn-sm" disabled>
                      <%= data.paymentMethod %>
                    </button> <br>
                    <button type="button" id="PopoverCustomT-1" class="btn btn-light btn-sm">
                      <%=data.paymentStatus%>
                    </button>
                  </td>
                  

                  <td class="text-center">
                    <b>
                      ord - <%= data.orderDate.toDateString() %>
                    </b> <br><br>
                    <b>
                     del - <%= data.deliveryDate.toDateString() %>
                    </b>
                  </td>
                  
                  <td class="text-center">
                    <b>
                      <div class="badge badge-warning" id="<%=data._id%>">

                        <%= data.status %>
                      </div>
                    </b>
                  </td>
                  <td>
                    <% if (data.status !=='cancelled' && data.status !=='delivered' ) { %>
                      <div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                          <a href="" onclick="updateOrderStatus('<%=data._id%>','Shipping')"
                            class="dropdown-item">Shipping</a>
                          <a href="" onclick="updateOrderStatus('<%=data._id%>','Delivered')"
                            class="dropdown-item">Delivered</a>

                        </div>
                      </div> <br>
                      <a href="/admin/adminCancel-order?id=<%= data._id%>"><button
                        class="btn btn-danger">Cancel<br>Order</button></a>

                      <% }else{%> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-check2-all" viewBox="0 0 16 16">
                          <path
                            d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z" />
                          <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
                        </svg>
                        <%} %>

                  </td>
                </tr>

                <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    function updateOrderStatus(id, status) {
      event.preventDefault()
      $.ajax({
        method: 'patch',
        url: '/admin/order-shipped',
        data: ({
          id,
          status
        }),
        success: function (response) {
          var element = document.getElementById(id);
          if (response.status) {
            element.innerHTML = 'Shipping',
              Swal.fire({
                icon: 'success',
                title: 'Order Shipped',
                showConfirmButton: false,
                timer: 2000
              }).then(() => { window.location.href('/admin/order-management') })
          } else {
            element.innerHTML = 'Delivered',
              Swal.fire({
                icon: 'success',
                title: 'Order Delivered',
                showConfirmButton: false,
                timer: 2000
              }).then(() => { window.location.href('/admin/order-management') })
          }
        }
      })
    }
  </script>

  <%- include('../admin/partials/afooter.ejs') %>