<%- include('../user/partials/header.ejs'); %>

    <section class="checkout_area section_gap mt-5 mb-5">
        <div class="container">
            <div class="billing_details">
                <form action="/placed-order" method="post" id="checkout-form">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3>ADDRESS</h3>
                            <div class=" mt-2 text-end">
                                <a href="/add-address">
                                    <b class="text-light btn btn-primary mb-3">add-address</b>
                                </a>
                            </div>
                            <% if(typeof message !=='undefined' ){%>
                                <h5 class="text-danger"><b>
                                        <%= message %>.....!
                                    </b></h5>
                                <%} %>
                                    <!--user Address-->

                                    <!--ende userAddress-->
                                    <!--address table start here-->
                                    <% address.forEach(data=> { %>
                                        <div class="form-check pl-5 p-2 border border-secondary  mb-3 rounded">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="<%= data._id %>" value="<%= data._id %>" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                <label for="" value="name">
                                                    <%= data.name %>
                                                </label><br>
                                                <label for="" value="mobile">
                                                    <%= data.phone %>
                                                </label><br>
                                                <label for="" value="email">
                                                    <%=data.email %>
                                                </label><br>
                                                <label for="" value="address">
                                                    <%= data.address %>
                                                </label><br>
                                                <label for="" value="state">
                                                    <%= data.state %>
                                                </label><br>
                                                <label for="" value="dist">
                                                    <%= data.district %>
                                                </label><br>
                                                <label for="" value="city">
                                                    <%= data.city %>
                                                </label><br>
                                                <label for="" value="landMark">
                                                    <%= data.landMark %>
                                                </label><br>
                                                <label for="" value="">
                                                    <%= data.pincode %>
                                                </label><br>
                                            </label>
                                            <div class="d-flex justify-content-end">
                                                <a href="/edit-address?id=<%= data._id %>"
                                                    class="btn btn-info m-2">edit</a>
                                                <a href="/delete-address?id=<%= data._id %>" class="btn btn-danger m-2"
                                                    onclick="return confirmAlert(event,'/delete-address?id=<%= data._id %>')">delete</a>
                                                </td>
                                            </div>
                                            </label>
                                        </div>

                                        <% }); %>
                                            <!--address table end here-->
                        </div>




                        <div class="col-lg-4">
                            <div class="order_box text-center col-lg-12 ">
                                <h2>Your Order</h2>
                                <div class="col-lg-12 ">
                                    <table class="mt-4 table table-striped ">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-3">product</th>
                                                <th class="col-lg-3">price</th>
                                                <th class="col-lg-3">quantity</th>
                                                <th class="col-lg-3">Total</th>
                                            </tr>
                                        </thead>
                                        <% if(cartData){%>
                                            <% cartData.products.forEach(data=> { %>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <%= data.product_id.productName %>
                                                        </td>
                                                        <td>
                                                            <i class="bi bi-currency-rupee"></i>
                                                            <%= data.price %>
                                                        </td>
                                                        <td>
                                                            <%= data.quantity %>
                                                        </td>
                                                        <td>
                                                            <i class="bi bi-currency-rupee"></i>
                                                            <%= data.totalPrice %>

                                                        </td>

                                                    </tr>
                                                </tbody>
                                                <% }); %>
                                                    <%}else{%>

                                                        <%}%>
                                    </table>
                                </div>


                                <% if (typeof couponData=='undefined' || couponData==null) { %>

                                    <ul class="mt-4">
                                        <hr>
                                        <button type="button" class="btn btn-info col-lg-12" data-toggle="modal"
                                            data-target="#exampleModal">
                                            Enter Coupon
                                        </button>

                                    </ul>

                                    <% } else { %>

                                        <ul class="list list_2 mt-3">
                                            <hr>
                                            <li class="mt-4">Coupon Discount <span id="gtd"><br>
                                                    <%= couponData.discount %>%
                                                </span></li>
                                        </ul>

                                        <% } %>


                                            <% if (typeof couponData==='undefined' || couponData==null ) { %>

                                                <ul class="list list_2 mt-3">
                                                    <hr>
                                                    <li class="mt-4">Total Price <span id="gtd">
                                                            <i class="bi bi-currency-rupee"></i>
                                                            <input type="number" name="totalPrice"
                                                                class="border-0 text-center"
                                                                value="<%= subTotalPrice %>" readonly>

                                                        </span></li>
                                                    <hr>
                                                </ul>

                                                <% } else {%>
                                                    <ul class="list list_2 mt-3">
                                                        <hr>
                                                        <li class="mt-4">Total Price - coupon Discount <span id="gtd">
                                                                <br>
                                                                <i class="bi bi-currency-rupee"></i>
                                                                <input type="number" name="totalPrice"
                                                                    class="border-0 text-center"
                                                                    value="<%=  Math.round(subTotalPrice - ( subTotalPrice *couponData.discount / 100)) %>"
                                                                    readonly>
                                                            </span></li>
                                                        <hr>
                                                    </ul>

                                                    <% } %>

                                                        <div class="payment_item">
                                                            <div class="radion_btn">
                                                                <input type="radio" id="f-option4" name="selector"
                                                                    value="wallet">
                                                                <label for="f-option4">
                                                                    <div class="row">
                                                                        <div class="col-lg-10">wallet</div>
                                                                        <div class="col-lg-2"></div>
                                                                    </div>
                                                                </label>
                                                                <div class="check"></div>


                                                            </div>

                                                        </div>
                                                        <div class="payment_item">
                                                            <div class="radion_btn">
                                                                <input type="radio" id="f-option5" name="selector"
                                                                    value="COD" checked>
                                                                <label for="f-option5">Cash on delivery</label>
                                                                <div class="check"></div>
                                                            </div>
                                                        </div>
                                                        <div class="payment_item active item-center">
                                                            <div class="radion_btn">
                                                                <input type="radio" id="f-option6" name="selector"
                                                                    value="Razorpay">
                                                                <label for="f-option6">Razor pay </label>
                                                                <div class="check"></div>
                                                            </div>
                                                            <p>Pay via Razor Pay; you can pay with your upi transaction
                                                            </p>
                                                        </div>

                                                        <input type="hidden" name="subTotalPrice" id="subTtle" value="">
                                                        <a href="/placed-order"><button type="submit"
                                                                onclick="orderPlace()"
                                                                class="btn btn-primary col-lg-12">Submit</button></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Apply Coupon</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                    <div class="modal-body  ">
                        <form action="/activeCoupon?id=<%=cartData._id %>" method="post">
                            <input type="text" placeholder="Enter coupon code" id="couponCodes" name="CouponName"
                            class="border-5 col-lg-12">
                            <button type="submit" onclick="applyCoupon('<%= cartData._id%>')"
                                class="btn btn-primary mt-3 m-1 col-lg-12">Apply</button>
                            </button><br><br>
                            <h4>Available Coupons</h4>
                            <table class="table table-bordered table-hover table-dark">
                                <thead>
                                  <tr class="text-center bg-info">
                                    <th scope="col">No</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Min Price</th>
                                    <th scope="col">Discount</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% availableCoupon.forEach((data,index) => { %>
                                  <tr class="text-center">
                                    <th scope="row"><%= index + 1 %></th>
                                    <td><%= data.name %></td>
                                    <td><%= data.minPrice %> <i class="bi bi-currency-rupee"></i></td>
                                    <td>- <%= data.discount %> off</td>
                                  </tr>
                                  <% }) %>
                                </tbody>
                              </table>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        function confirmAlert(event, linkUrl) {
            // Prevent the default link behavior
            event.preventDefault();

            // Show the SweetAlert confirmation dialog
            swal({
                title: 'Are you sure?',
                text: 'Are you sure you want to visit this link?',
                icon: 'warning',
                buttons: ['Cancel', 'OK'],
            }).then((value) => {
                if (value) {
                    // If the user clicks "OK," proceed with following the link
                    window.location.href = linkUrl;
                }
            });
        }


        function orderPlace() {

            event.preventDefault();
            $.ajax({
                url: '/placed-order',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {

                    if (response.codSuccess == true) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Order placed Successfully',
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => { window.location.href = '/profile' });

                    } else if (response.msg) {
                        Swal.fire(
                            'error!',
                            response.msg,
                            'error')

                    } else {
                        razorpayPayment(response, response.orderId);
                        // alert("🚀🚀🚀" + response.orderId)

                    }
                }
            })

        }

        function razorpayPayment(order, ORDERID) {

            var options = {
                "key": "rzp_test_wPInQUVGHQPOT6", // Enter the Key ID generated from the Dashboard
                "amount": order.response.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "PureGlow",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.response.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    // console.log("response", response);
                    // alert(response.razorpay_payment_id);
                    // alert(response.razorpay_order_id);
                    // alert(response.razorpay_signature);

                    verifyPayment(response.razorpay_order_id, response.razorpay_payment_id, response.razorpay_signature, order.response.id, ORDERID);
                    // alert("this is id from here " + order.response.id)
                    // alert('this is payment details' + response.razorpay_order_id + response.razorpay_payment_id)
                    // alert("this is signature" + response.razorpay_signature)
                    // alert("🔺🔺🚀🚀🚀" + order.response._id);

                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };

            var rzp1 = new Razorpay(options);
            rzp1.open();
        }

        function verifyPayment(orderId, paymentId, razorpay_signature, order, ORDERID) {
            $.ajax({
                url: '/verify-payment', // replace with your server endpoint
                method: 'post',
                data: {
                    order,
                    paymentId,
                    orderId,
                    razorpay_signature,
                    ORDERID
                },
                success: function (response) {
                    if (response.status === true) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Order placed Successfully',
                            showConfirmButton: false,
                            timer: 3000
                        }).then(() => { window.location.href = '/profile' })

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'payment Failed',
                            showConfirmButton: false,
                            timer: 3000
                        }).then(() => window.location.href('/'))

                    }

                }
            });
        }

        function applyCoupon(cartId) {
            event.preventDefault()
            const couponCode = document.getElementById('couponCodes').value.trim();
            if (!couponCode) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Not filled',

                })
            }
            $.ajax({
                method: "post",
                url: '/activeCoupon',
                data: ({
                    couponCode,
                    cartId
                }),
                success: function (response) {
                    if (response.status == true) {
                        Swal.fire({
                            icon: 'success',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            window.location.href = '/checkout'
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.message,
                        })
                    }

                }

            })
        }

    </script>

    <%- include('../user/partials/footer.ejs'); %>