<% if(orderData ){ %>
    <% orderData.forEach((data,index)=> { %>
        <tbody>
            <tr>
                <td>
                    <%= index+1 %>
                </td>
                <td>
                    <% for (let i=0; i < data.products.length; i++) { %>
                        <%= data.products[i].product_id.productName %> x <%= data.products[i].quantity %>
                                <% } %>
                </td>
                <td>
                    <%= data.orderDate.toDateString() %>
                </td>
                <td>
                    <%= data.deliveryDate.toDateString() %>
                </td>
                <td>
                    <%= data.status %>
                </td>
                <td><i class="bi bi-currency-rupee"></i>
                    <%= data.totalPrice %>
                </td>
                <td>
                    <% if (data.status==='delivered' ) { %><button href=""
                            class="btn flosun-button secondary-btn theme-color  rounded-0">delivered</button>
                        <% } else { %>
                            <a href="/cancel-order?id=<%=data._id%>"
                                class="btn flosun-button secondary-btn theme-color  rounded-0">Cancel</a>
                            <% } %>
                </td>
            </tr>
        </tbody>
        <% }); %>

            <% } %>




            <button type="button" class="btn-primary p-2" data-toggle="modal" data-target="#exampleModalCenter">
                View More
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <h3>Product Id</h3>
                        <div class="mt-3"><P><%= data.products[i].product_id._id %></P></div>
                        <h3>Address</h3>
                        <strong>Name: </strong><%= data.address_id.name%> <br>
                        <strong>Phone: </strong><%= data.address_id.phone%> <br>
                        <strong>Email: </strong><%= data.address_id.email%> <br>
                        <strong>Address: </strong><%= data.address_id.address%> <br>
                        <strong>State: </strong><%= data.address_id.state%> <br>
                        <strong>District: </strong><%= data.address_id.district%> <br>
                        <strong>City: </strong><%= data.address_id.city%> <br>
                        <strong>landMark: </strong><%= data.address_id.landMark%> <br>
                        <strong>Pincode: </strong><%= data.address_id.pincode%> <br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn-secondary p-2" data-dismiss="modal">Close</button>
                      <% if(data.status !== 'delivered'){%> <button type="button" class="btn-danger p-2">Cancel</button><%} %>
                       
                    </div>
                  </div>
                </div>
              </div>